.header__nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  .header__logo {
    img {
      width: 100%;
    }
  }
}

.header__Navlist {
  ul {
    display: flex;
    list-style: none;
    padding-top: 5px;
    justify-content: space-between;
    li{
      padding-top: 25px;
      padding-right: 50px;
      text-decoration: none;
      transition: 0.5s;
      a {
        font-size: 15px;
        color: #777;
        text-decoration: none;
        position: relative;
        transition: 0.3s;
        font-weight: 600;
        &:hover {
          color: #000;
        }
        &:hover::after {
          content: "";
          position: absolute;
          left: -40px;
          top: 7px;
          width: 30px;
          height: 2px;
          background: #000;
        }
      }
    }
    .navInput {
      width: 0;
      transition: 0.5s;
      border: 0;
      &.activeInput {
        width: 100%;
        display: inline-block;
        opacity: 1;
        outline: none;
        border-radius: 15px;
        border: 1px solid #777;
      }
    }
  }
} // Smart btn
.smart__btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  right: 78px;
  a {
    text-decoration: none;
    p {
      font-size: 60px;
      font-weight: 600;
      color: #777;
    }
  }
}
@media screen and (max-width: 992px) {
  .header__Navlist {
    position: fixed;
    top: 3px;
    right: 0;
    background: #999;
    z-index: 1000;
    /* display: none; */
    transform: translateY(-100%);
    transition: 1s;
    border-radius: 10px;
    ul {
      padding-right: 0;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-top: 5px;
      li {
        text-decoration: none;
        transition: 0.5s;
        position: relative;
        a {
          font-size: 10px;
          color: #fff;
          text-decoration: none;
          text-transform: none;
        }
      }
    }
    &.active {
      transform: translateY(0);
      /* display: flex; */
    }
  }
}
@media screen and (max-width: 992px) {
  .smart__btn {
    display: flex;
  }
}

.headerPic {
  background: url(".././img/homecenterslider.png") no-repeat center/cover;
  .hSlides {
    padding: 260px 0;
    h1 {
      background: #000;
      color: #fff;
      font-size: 46px;
      letter-spacing: 0.2em;
      padding: 5px 25px;
      text-align: center;
      @media screen and (max-width: 992px) {
        font-size: 30px;
      }
      @media screen and (max-width: 572px) {
        font-size: 15px;
      }
    }
    p {
      padding-top: 20px;
      text-transform: uppercase;
      text-align: center;
      color: #000;
      font-size: 24px;
      letter-spacing: 0.2em;
      @media screen and (max-width: 992px) {
        font-size: 15px;
      }
      @media screen and (max-width: 572px) {
        font-size: 10px;
      }
    }
  }
}

.owl-nav {
  display: flex !important;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  width: 100%;
  height: 0;
  button {
    outline: none;
  span {
    font-size: 30px;
    color: #777;
    padding: 0 15px;
    background: #000;
    border-radius: 50%;
    border: 1px solid #777;
    &:hover {
      background: none;
    }
  }
}
}
/// Section Home 2
.Items {
  background: #fafafa;
  padding-top: 20px;
  padding-bottom: 40px;
}
.iteM {
  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    li:not(:first-child) {
      padding: 20px 20px;
      text-decoration: none;
      transition: 0.5s;
      @media screen and (max-width: 772px) {
        padding-right: 40px;
      }
      a {
        font-size: 14px;
        color: #777;
        text-decoration: none;
        position: relative;
        transition: 0.3s;
        font-weight: 600;
        @media screen and (max-width: 772px) {
          font-size: 10px;
        }
        &:hover {
          color: #000;
        }
        &::after {
          content: "";
          position: absolute;
          left: -30px;
          top: 7px;
          width: 30px;
          height: 1px;
          background: #777;
          transform: rotate(-70deg);
      }
      }
    }
    .firsrItem {
      a {
        color: #000;
        font-size: 14px;
        transition: 0.3s;
        font-weight: 600;
        padding-right: 15px;
        text-decoration: none;
        @media screen and (max-width: 772px) {
          font-size: 10px;
        }
        &:hover {
          color: #777;
        }
      }
    }
  }
}
//// Home Grids
.homeGrids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media screen and (max-width: 772px) {
    gap: 10px;
  }
  .hGrid {
    margin-bottom: 20px;
    position: relative;
    @media screen and (max-width: 772px) {
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
  }
  .hGridBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(145, 131, 131, 0.6) 100%);
    transition: 0.4s;
    opacity: 0;
       a {
      font-size: 75px;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 100%;
      color: #fff;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
    }
  }
}

/// Home button
.homeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background-color: #959595;
    padding: 10px 15px;
    color: #fff;
    letter-spacing: 0.3em;
    font-weight: 700;
  }
}
/// Home footer
.footerHome {
  padding: 40px 0;
}
.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerIocns {
  margin: 30px 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  .icon {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    @media screen and (max-width: 772px) {
      padding: 20px 15px;
    }
    a i {
      font-size: 20px;
      color: #999;
      transition: 0.7s;
      @media screen and (max-width: 772px) {
        font-size: 15px;
      }
      &:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}
.footerText {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-transform: uppercase;
    font-weight: 600;
    color: #9c9c9c;
    span {
      color: #777;
      font-weight: 700;
    }
  }
}
//// Кнопка вверх
#buttonTop {
  display: none;
  background-color: #777;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  margin: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: .3s;
  z-index: 1000;
  &.show {
    display: inline-block;
  }
}
#buttonTop:hover {
  cursor: pointer;
  background-color: #333;
}
#buttonTop:active {
  background-color: #555;
}
#buttonTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}