.singHead {
  background: #f6f6f8;
}
.SingleContent {
  padding: 40px 0;
  background: #fafafa;
  .singShapka {
    text-align: center;
    h2 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500;
      color: #777;
    }
    .singShapkaLikes {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      p {
        padding: 0 25px;
        font-size: 14px;
        font-weight: 600;
        color: #777;
        i {
          padding-right: 5px;
        }
      }
    }
  }
}
.singleContentPic {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  img {
    width: 100%;
  }
}
.singleText {
  .SingleP {
    max-width: 815px;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 2.5em;
    color: #777;
    font-weight: 600;
    text-align: justify;
  }
  .SingleTextCommnet {
    padding: 25px 40px;
    border: 1px solid #777;
    line-height: 2em;
    color: #777;
    font-weight: 600;
    text-align: justify;
    font-size: 20px;
    font-family: "PT Serif";
    font-style: italic;
    border-left: 2px solid #777;
  }
  h4 {
    margin-left: 125px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.hForm {
  letter-spacing: 0.6em;
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
}
.formShapka {
  display: flex;
  justify-content: center;
  .inpShapka {
    margin: 0 20px;
    max-width: 245px;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
  }
}
.formFot {
  display: flex;
  justify-content: center;
  .inpFot {
    margin: 0 20px;
    max-width: 815px;
    width: 100%;
    padding: 10px 20px 120px 20px;
    outline: none;
  }
}
.formBtn {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    button {
        padding: 15px 50px;
        text-transform: uppercase;
        color: #fff;
        background: #000;
        letter-spacing: 0.3em;
        font-size: 14px;
        font-weight: 600;
    }
}