*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 15px 40px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav .header__logo img {
  width: 100%;
}

.header__Navlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__Navlist ul li {
  padding-top: 25px;
  padding-right: 50px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__Navlist ul li a {
  font-size: 14px;
  color: #777;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
}

.header__Navlist ul li a:hover {
  color: #000;
}

.header__Navlist ul li a:hover::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 7px;
  width: 30px;
  height: 2px;
  background: #000;
}

.header__Navlist ul .navInput {
  display: none;
  opacity: 0.3;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__Navlist ul .navInput.activeInput {
  margin-top: 0px;
  display: inline-block;
  opacity: 1;
  outline: none;
  border-radius: 15px;
}

.smart__btn {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  right: 78px;
}

.smart__btn a {
  text-decoration: none;
}

.smart__btn a p {
  font-size: 60px;
  font-weight: 600;
  color: #777;
}

@media screen and (max-width: 992px) {
  .header__Navlist {
    position: fixed;
    top: 3px;
    right: 0;
    background: #999;
    z-index: 1000;
    /* display: none; */
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 10px;
  }
  .header__Navlist ul {
    padding-right: 0;
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding-top: 5px;
  }
  .header__Navlist ul li {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
  }
  .header__Navlist ul li a {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: none;
  }
  .header__Navlist.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    /* display: flex; */
  }
}

@media screen and (max-width: 992px) {
  .smart__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.headerPic {
  background: url("../../img/homecenterslider.png") no-repeat center/cover;
}

.headerPic .hSlides {
  padding: 260px 0;
}

.headerPic .hSlides h1 {
  background: #000;
  color: #fff;
  font-size: 46px;
  letter-spacing: 0.2em;
  padding: 5px 25px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .headerPic .hSlides h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 572px) {
  .headerPic .hSlides h1 {
    font-size: 15px;
  }
}

.headerPic .hSlides p {
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 24px;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 992px) {
  .headerPic .hSlides p {
    font-size: 15px;
  }
}

@media screen and (max-width: 572px) {
  .headerPic .hSlides p {
    font-size: 10px;
  }
}

.owl-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  width: 100%;
  height: 0;
}

.owl-nav button {
  outline: none;
}

.owl-nav button span {
  font-size: 30px;
  color: #777;
  padding: 0 15px;
  background: #000;
  border-radius: 50%;
  border: 1px solid #777;
}

.owl-nav button span:hover {
  background: none;
}

.Items {
  background: #fafafa;
  padding-top: 20px;
  padding-bottom: 40px;
}

.iteM ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.iteM ul li {
  padding: 20px 20px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 772px) {
  .iteM ul li {
    padding-right: 40px;
  }
}

.iteM ul li a {
  font-size: 14px;
  color: #777;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
}

@media screen and (max-width: 772px) {
  .iteM ul li a {
    font-size: 10px;
  }
}

.iteM ul li a:hover {
  color: #000;
}

.iteM ul li a::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 7px;
  width: 30px;
  height: 1px;
  background: #777;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.iteM ul .firsrItem a {
  color: #000;
}

.iteM ul .firsrItem a:hover {
  color: #777;
}

.homeGrids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 772px) {
  .homeGrids {
    gap: 10px;
  }
}

.homeGrids .hGrid {
  margin-bottom: 20px;
  position: relative;
}

@media screen and (max-width: 772px) {
  .homeGrids .hGrid {
    margin-bottom: 10px;
  }
}

.homeGrids .hGrid img {
  width: 100%;
}

.homeGrids .hGridBg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, to(rgba(145, 131, 131, 0.6)));
  background-image: linear-gradient(to top, rgba(145, 131, 131, 0.6) 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.homeGrids .hGridBg a {
  font-size: 75px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100% / 2);
  color: #fff;
  text-decoration: none;
}

.homeGrids .hGridBg:hover {
  opacity: 1;
}

.homeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.homeBtn a {
  background-color: #959595;
  padding: 10px 15px;
  color: #fff;
  letter-spacing: 0.3em;
  font-weight: 700;
}

.footerHome {
  padding: 40px 0;
}

.footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footerIocns {
  margin: 30px 0;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.footerIocns .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 40px;
}

@media screen and (max-width: 772px) {
  .footerIocns .icon {
    padding: 20px 15px;
  }
}

.footerIocns .icon a i {
  font-size: 20px;
  color: #999;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media screen and (max-width: 772px) {
  .footerIocns .icon a i {
    font-size: 15px;
  }
}

.footerIocns .icon a i:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footerText p {
  text-transform: uppercase;
  font-weight: 600;
  color: #9c9c9c;
}

.footerText p span {
  color: #777;
  font-weight: 700;
}

#buttonTop {
  display: none;
  background-color: #777;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  margin: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1000;
}

#buttonTop.show {
  display: inline-block;
}

#buttonTop:hover {
  cursor: pointer;
  background-color: #333;
}

#buttonTop:active {
  background-color: #555;
}

#buttonTop::after {
  content: "\F077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}

.aboutHeader {
  background: #efeff1;
}

.aboutHeader .aboutSection1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutHeader .aboutSection1 .aboutSectionText1 {
  padding-left: 80px;
}

.aboutHeader .aboutSection1 .aboutSectionText1 h1 {
  background: #000;
  color: #fff;
  font-size: 35px;
  letter-spacing: 0.2em;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .aboutHeader .aboutSection1 .aboutSectionText1 h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 772px) {
  .aboutHeader .aboutSection1 .aboutSectionText1 h1 {
    font-size: 15px;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 576px) {
  .aboutHeader .aboutSection1 .aboutSectionText1 h1 {
    font-size: 10px;
    padding: 0px 10px;
  }
}

.aboutHeader .aboutSection1 .aboutSectionText1 p {
  padding-top: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 992px) {
  .aboutHeader .aboutSection1 .aboutSectionText1 p {
    font-size: 15px;
  }
}

@media screen and (max-width: 772px) {
  .aboutHeader .aboutSection1 .aboutSectionText1 p {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  .aboutHeader .aboutSection1 .aboutSectionText1 p {
    font-size: 5px;
  }
}

.aboutHeader .aboutSectionPic1 img {
  max-width: 750px;
  width: 100%;
}

.aboutSection {
  padding: 40px 80px;
  background: #fafafa;
}

.aboutSection .aboutSectionPic2 img {
  width: 100%;
}

.aboutSectionText2 .ourH6 {
  margin-bottom: 30px;
}

.aboutSectionText2 h6 {
  letter-spacing: 0.6em;
  font-size: 25px;
}

.aboutSectionText2 p {
  line-height: 1.6em;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 30px;
}

.aboutSectionText2 img {
  width: 100%;
  padding: 15px 0;
}

.aboutAvesome {
  padding: 40px 80px;
  background: #fafafa;
}

.aboutAvesome .avesomeHead h2 {
  letter-spacing: 0.5em;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

@media screen and (max-width: 772px) {
  .aboutAvesome .avesomeHead h2 {
    font-size: 18px;
  }
}

.aboutAvesome .avesomeHead p {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.6em;
  font-size: 16px;
  padding: 30px 0;
}

.avesomePics {
  padding: 40px 0;
}

.avesomePics .aboutPic .aboutImg {
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #eee;
  padding: 0 20px;
}

@media screen and (max-width: 490px) {
  .avesomePics .aboutPic .aboutImg {
    background: none;
  }
}

.avesomePics .aboutTextPic {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}

.avesomePics .aboutTextPic h3 {
  font-size: 35px;
  text-transform: uppercase;
}

.avesomePics .aboutTextPic h6 {
  font-weight: 600;
}

.avesomePics .aboutTextPic p {
  font-size: 16px;
  line-height: 1.6em;
  color: #9c9c9c;
}

.portfolioHead {
  background-color: #e2e2e2;
}
