*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1150px;
  width: 100%;
  padding: 15px 40px;
  margin: 0 auto;
  
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
}

@import "./pages/home.scss";
@import "./pages/about.scss";


